<ion-view title="99 Novo Microserviço - GRUPO12" id="page1">
  <ion-content padding="true" style="background: url(img/crOFEpcBTSuw6KwRT5io_mapa99.PNG) no-repeat center;background-size:cover;" class="has-header">
    <form id="99NovoMicroserviO-form1" class="list">
      <ion-toggle toggle-class="toggle-assertive" ng-checked="true" id="99NovoMicroserviO-toggle1" name="Minhas Preferencias">Habilitar Minhas Preferências</ion-toggle>
    </form>
    <form id="99NovoMicroserviO-form2" class="list">
      <label class="item item-input" id="99NovoMicroserviO-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Para onde vamos?">
      </label>
    </form>
  </ion-content>
</ion-view>
