<ion-view title="Login" hide-nav-bar="true" id="page4">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="login-form6" class="list">
      <div>
        <img src="img/VCVONsWzQjaXkt1hwMjc_99-app-logo.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 32px;"></div>
      <p>
        <b>Insira o número de telefone</b>
      </p>
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input3">
          <span class="input-label">+55</span>
          <input type="tel" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="menu.99NovoMicroserviO()" id="login-button9" style="font-weight:500;" class="button button-stable button-block">Continuar</a>
    </form>
    <div>
      <p>
        <u>Engenharia de Software - FIAP</u>
      </p>
      <p>
        Microservices -
        <b>GRUPO12</b>:
      </p>
      <p>
        Ronaldo Sobreira Bitu Filho - RM336355</p>
      <p>
        Tatiane Haruko Fukuda - RM336474</p>

    </div>
  </ion-content>
</ion-view>