<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <a ui-sref="menu.99NovoMicroserviO()" menu-close="" id="menu-button7" style="font-weight:300;border-radius:-100px -100px -100px -100px;" class="button button-dark button-block">Voltar</a>
      <ion-list id="menu-list1">
        <ion-item class="item-avatar" id="menu-list-item4" ui-sref="menu.minhasPreferNciasDeCorrida()" menu-close="">
          <img src="img/y6XQsatVTM2QOlnWDcRi_usurio.PNG">
          <h2>Maria Aparecida</h2>
          <p>Atualizar Preferências</p>
          <ion-option-button class="button-assertive">teste</ion-option-button>
        </ion-item>
        <ion-item class="item-icon-left" id="menu-list-item5" ui-sref="minhasCorridas()" menu-close="">
          <i class="icon ion-android-car"></i>Corridas</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item7">
          <i class="icon ion-card"></i>Pagamento</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item8">
          <i class="icon ion-help"></i>Ajuda</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item9">
          <i class="icon ion-ionic"></i>Central de segurança</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item10">
          <i class="icon ion-wrench"></i>Configurações</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item11">
          <i class="icon ion-person-stalker"></i>Convide Amigos</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item12">
          <i class="icon ion-ios-body"></i>Seja Motorista</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item13">
          <i class="icon ion-android-archive"></i>Cupom de Desconto</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>