<ion-view title="Minhas Preferências de Corrida" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="minhasPreferNciasDeCorrida-form4" class="list">
      <p>
        Sou usuário(a) e me sinto mais
        <b>confortável/seguro(a)</b> sendo atendido(a) por:
      </p>
      <ion-toggle toggle-class="toggle-assertive" id="minhasPreferNciasDeCorrida-toggle2">Motorista Sexo Feminino</ion-toggle>
      <div class="spacer" style="width: 300px; height: 21px;"></div>
      <p>
        Sou ou possuo acompanhante com
        <b>mobilidade reduzida/cadeirante</b> e desejo:
      </p>
      <ion-toggle toggle-class="toggle-energized" id="minhasPreferNciasDeCorrida-toggle3">Carro Especial</ion-toggle>
      <div class="spacer" style="width: 300px; height: 14px;"></div>
      <p>
        Estou
        <b>acompanhado de criança</b> e desejo carro com:
      </p>
      <ion-toggle toggle-class="toggle-royal" id="minhasPreferNciasDeCorrida-toggle4">Cadeirinha/Bebê Conforto</ion-toggle>
      <label class="item item-input" id="minhasPreferNciasDeCorrida-input1">
        <span class="input-label">Idade (criança):</span>
        <input type="number" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>